<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <application
        android:name="com.myt.MyTApplication"
        android:allowBackup="false"
        android:icon="@android:drawable/sym_def_app_icon"
        android:label="MyT"
        android:supportsRtl="true"
        android:theme="@android:style/Theme.Material.NoActionBar" />
</manifest>
